
<div class="header">
  <div class="navbar">
    <div class="logo">
      <h2>
        <a (click)="goToSection('anasayfa')">Özgenç</a>
      </h2>
    </div>
    <button class="menu-toggle" (click)="toggleMenu()"><i class="fa fa-chevron-down"></i></button>
    <ul class="nav_links" [ngClass]="{'open': isOpen}">
      <li (click)="goToSection('anasayfa')"><span [ngClass]="{selected: selectedMenu === 'anasayfa'}">ANASAYFA</span></li>
      <li (click)="goToSection('yazilimlar')"><span [ngClass]="{selected: selectedMenu === 'yazilimlar'}">YAZILIMLAR</span></li>
      <li (click)="goToSection('sertifikalar')"><span [ngClass]="{selected: selectedMenu === 'sertifikalar'}">SERTİFİKALAR</span></li>
      <li (click)="goToSection('basarilar')"><span [ngClass]="{selected: selectedMenu === 'basarilar'}">BAŞARILAR</span></li>
      <li (click)="goToSection('hakkimda')"><span [ngClass]="{selected: selectedMenu === 'hakkimda'}">YORUMLAR</span></li>
      <li (click)="goToSection('iletisim')"><span [ngClass]="{selected: selectedMenu === 'iletisim'}">İLETİŞİM</span></li>
    </ul>
  </div>
</div>

  <!-- ANASAYFA -->
  <section #anasayfaSection id="anasayfa">
      <div class="inner_anasayfa">
        <div class="child_anasayfa">
             <h1> WEB SİTEYE Mİ İHTİYACIN VAR ? <br> <span class="span_child">NE BEKLİYORSUN ?</span></h1>
             <p>Kısa Sürede Etkili Tasarımlar İçin</p>
             <button class="btn">MESAJ AT</button>
        </div>
        <div class="child_anasayfa">
          <img src="../../../assets/image/home-imgr.png" alt="">
      </div>
      </div>
  </section>
  <!-- YAZILIMLAR -->
  <section #yazilimlarSection id="yazilimlar">
    <div class="section_title">
      <h2>YAZILIMLAR</h2>
    </div>
    <div class="inner_software">
      <div class="child_software">
        <div class="icon">
            <i class="fas fa-laptop"></i>
        </div>
        <h3>HTML & CSS</h3>
        <p>Mustafa Furkan Özgenç</p>
      </div>
      <div class="child_software">
        <div class="icon">
            <i class="fas fa-laptop"></i>
        </div>
        <h3>ANGULAR</h3>
        <p>Mustafa Furkan Özgenç</p>
      </div>
      <div class="child_software">
        <div class="icon">
            <i class="fas fa-laptop"></i>
        </div>
        <h3>FLUTTER</h3>
        <p>Mustafa Furkan Özgenç</p>
      </div>
    </div>
  </section>
<!-- SERTİFİKALAR -->
<section #sertifikalarSection id="sertifikalar">
  <div class="section_title">
    <h2>SERTİFİKALAR</h2>
  </div>
  <div class="inner_courses">
    <div class="child_courses">
        <div class="courses_image">
          <img src="../../../assets/image/js.png">
        </div>
        <div class="detail">
          <p>Neos</p>
          <ul>
            <li><i class="fas fa fa-star"></i></li>
            <li><i class="fas fa fa-star"></i></li>
            <li><i class="fas fa fa-star"></i></li>
            <li><i class="fas fa fa-star"></i></li>
            <li><i class="fas fa fa-star"></i></li>
          </ul>
        </div>
        <h3>JavaScript</h3>
    </div>
    <div class="child_courses">
      <div class="courses_image">
        <img src="../../../assets/image/python.png">
      </div>
      <div class="detail">
        <p>Neos</p>
        <ul>
          <li><i class="fas fa fa-star"></i></li>
          <li><i class="fas fa fa-star"></i></li>
          <li><i class="fas fa fa-star"></i></li>
          <li><i class="fas fa fa-star"></i></li>
          <li><i class="fas fa fa-star"></i></li>
        </ul>
      </div>
      <h3>Python</h3>
  </div>
  <div class="child_courses">
    <div class="courses_image">
      <img src="../../../assets/image/boot.png">
    </div>
    <div class="detail">
      <p>Neos</p>
      <ul>
        <li><i class="fas fa fa-star"></i></li>
        <li><i class="fas fa fa-star"></i></li>
        <li><i class="fas fa fa-star"></i></li>
        <li><i class="fas fa fa-star"></i></li>
        <li><i class="fas fa fa-star"></i></li>
      </ul>
    </div>
    <h3>Boot</h3>
</div>
<div class="child_courses">
  <div class="courses_image">
    <img src="../../../assets/image/react.png">
  </div>
  <div class="detail">
    <p>Neos</p>
    <ul>
      <li><i class="fas fa fa-star"></i></li>
      <li><i class="fas fa fa-star"></i></li>
      <li><i class="fas fa fa-star"></i></li>
      <li><i class="fas fa fa-star"></i></li>
      <li><i class="fas fa fa-star"></i></li>
    </ul>
  </div>
  <h3>JavaScript</h3>
</div>
  </div>
</section>
<!-- BAŞARILAR -->
<section #basarilarSection id="basarilar">
  <div class="section_title">
    <h2>BAŞARILAR</h2>
  </div>
  <div class="inner_achivement">
    <div class="child_achivement_left">
     <img src="../../../assets/image/about-img.jpg" alt="">
    </div>
    <div class="child_achivement_right">
      <div class="single_detail sd_1">
        <h1>20+</h1>
        <p>Web Sitesi</p>
      </div>
      <div class="single_detail sd_2">
        <h1>20+</h1>
        <p>Web Sitesi</p>
      </div>
      <div class="single_detail sd_3">
        <h1>20+</h1>
        <p>Web Sitesi</p>
      </div>
      <div class="single_detail sd_4">
        <h1>20+</h1>
        <p>Web Sitesi</p>
      </div>
     </div>
  </div>
</section>
<!-- HAKKIMDA -->
<section #hakkimdaSection id="hakkimda">
  <div class="section_title">
    <h2>YORUMLAR</h2>
  </div>
  <div class="inner_about">
    <div class="child_about">
      <div class="about_img">
        <img src="../../../assets/image/reviews/1.jpg" alt="">
      </div>
      <p>Oldukça Başarılı</p>
      <a class="about_highlight">Ayşe Demir</a>
      <p>Firma CEO</p>
    </div>
    <div class="child_about">
      <div class="about_img">
        <img src="../../../assets/image/reviews/2.jpg" alt="">
      </div>
      <p>Oldukça Başarılı</p>
      <a class="about_highlight">Ayşe Demir</a>
      <p>Firma CEO</p>
    </div>
    <div class="child_about">
      <div class="about_img">
        <img src="../../../assets/image/reviews/3.jpg" alt="">
      </div>
      <p>Oldukça Başarılı</p>
      <a class="about_highlight">Ayşe Demir</a>
      <p>Firma CEO</p>
    </div>
    <div class="child_about">
      <div class="about_img">
        <img src="../../../assets/image/reviews/4.jpg" alt="">
      </div>
      <p>Oldukça Başarılı</p>
      <a class="about_highlight">Ayşe Demir</a>
      <p>Firma CEO</p>
    </div>
  </div>
</section>
<!-- İLETİŞİM -->
<section #iletisimSection id="iletisim">
  <div class="section_title">
    <h2>İLETİŞİM</h2>
  </div>
  <div class="inner_contact">
    <div class="child_contact">
       <img src="../../../assets/image/contactt.png">
    </div>
    <div class="child_contact">
      <form action="#">
         <input type="text" name="fulName" id="" placeholder="İsim">
         <input type="text" name="email" id="" placeholder="Mail">
         <input type="text" name="phone" id="" placeholder="Telefon">
         <textarea id="" name="message" cols="30" rows="10" placeholder="Mesaj"></textarea>
         <input type="submit" value="Gönder">
      </form>
    </div>
  </div>
</section>
<!-- FOOTER -->
<footer>
<div class="inner_footer">
  <div class="child_footer">
    <h3>Hakkımda</h3>
    <p>Karadeniz Teknik Üniversitesi Yazılım Mühendisliği Mezunuyum</p>
    <ul class="footer_social">
    <li><a href=""><i class="fab fa-facebook"></i></a></li>
    <li><a href=""><i class="fab fa-twitter"></i></a></li>
    <li><a href=""><i class="fab fa-instagram"></i></a></li>
    <li><a href=""><i class="fab fa-youtube"></i></a></li>
    </ul>
  </div>
  <div class="child_footer">
    <h3>Linkler</h3>
    <ul class="footer_links">
      <li (click)="goToSection('anasayfa')"><span>ANASAYFA</span></li>
      <li (click)="goToSection('yazilimlar')"><span>YAZILIMLAR</span></li>
      <li (click)="goToSection('sertifikalar')"><span>SERTİFİKALAR</span></li>
      <li (click)="goToSection('basarilar')"><span>BAŞARILAR</span></li>
      <li (click)="goToSection('hakkimda')"><span>YORUMLAR</span></li>
      <li (click)="goToSection('contact')"><span>İLETİŞİM</span></li>
    </ul>
  </div>
  <div class="child_footer">
    <h3>İletişim</h3>
    <ul class="footer_contact">
    <li><i class="fas fa-map-marked-alt"></i>Araklı,Trabzon</li>
    <li><i class="fas fa-phone"></i>+90 0535914531</li>
    <li><i class="fas fa-envelope"></i>furkanozgenc</li>
    </ul>
  </div>
  <div class="child_footer">
    <h3>Haberlere Hızlı Ulaş</h3>
    <form action="#">
      <input type="email" name="email" placeholder="Mail">
      <input type="submit" value="Gönder">
    </form>
  </div>
</div>
</footer>
<button *ngIf="selectedMenu != 'anasayfa'" (click)="scrollToTop()" class="scroll-top-btn">
  <i class="fas fa-arrow-up"></i>
</button>

